// Fonts

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// Roboto Mono
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");

$primary-font: "Inter", sans-serif;
$secondary-font: "Roboto", sans-serif;
$special-font: "Roboto Mono", monospace;
