/* 
----------------------------------------------------
    Palette de couleurs
----------------------------------------------------
*/

/* Couleurs de base */

$dark: #3e3e3e;
$dark-light: #4a4a4a;
$dark-dark: #343434;

$gray: #dadfe1;
$gray-light: #ecf0f1;
$gray-very-light: #f2f2f2;
$gray-dark: #696969;
$gray-very-dark: #565555;

$blue: #5897e9;
$indigo: #a17af5;
$teal: #38b2ac;
$green: #8efb6d;
$yellow: #f8d859;
$orange: #ea9649;
$red: #f46058;
$pink: #ed64a6;

/* Couleurs de contexte */

$primary: $blue;
$success: $green;
$secondary: $yellow;
$danger: $red;

/* Couleurs de thème */

/* Dark Mode */

$dm-base-bg-color: $dark-dark;
$dm-menu-bg-color: $gray-very-dark;
$dm-card-bg-color: $gray-very-dark;
$dm-card-header-bg-color: $gray-dark;
$dm-input-bg-color: $dark-light;
$dm-main-text-color: $gray-very-light;

/* Light Mode (In Progress) */

$lm-base-bg-color: $gray-very-light;
$lm-menu-bg-color: $gray-light;
$lm-card-header-bg-color: $gray;
$lm-main-text-color: $dark-dark;
