* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $dm-base-bg-color;
  color: $gray-very-light;
}

.hidden,
[hidden] {
  display: none !important;
}

section {
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-flow: column wrap;
  margin: rem(20);
}
