.page-wrapper {
  position: relative;

  .content-wrapper {
    position: absolute;
    top: 10rem;
    width: 100%;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      top: 4rem;
      left: 16rem;
      width: calc(100% - 16rem);
    }
  }
}
