.btn {
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  background-color: $gray-400;
  // text-shadow: 1px 1px 2px $gray-800;
  box-shadow: 0 0.1rem 0.1rem transparentize($color: $gray-800, $amount: 0.8);
  @include ripple;
  &:hover {
    background-color: lighten($color: $gray-400, $amount: 10%);
  }
  color: $gray-800;
  font-family: $secondary-font;
  font-weight: bold;

  @each $name, $value in $theme-colors {
    &-#{$name} {
      background-color: $value;
      &:hover {
        background-color: lighten($color: $value, $amount: 10%);
      }
    }
  }

  &-link {
    background-color: transparent;
    color: $primary;
    box-shadow: none;
    text-shadow: none;
    font-family: $special-font;

    &:hover {
      background-color: unset;
      color: lighten($color: $primary, $amount: 10%);
    }
  }
}
