.table {
  width: 100%;
  text-align: center;
  border-spacing: 0 10px;

  thead {
    th {
      background-color: $gray-700;
    }
  }

  th,
  td {
    padding: rem(8);
    margin: rem(80);
    font-family: $secondary-font;
    background-color: $gray-600;
    border-bottom: 2px solid $gray-800 ;
    border-top: 2px solid $gray-800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  td:last-child,
  th:last-child {
    border-top-right-radius: rem(10);
    border-bottom-right-radius: rem(10);
    border-right: 2px solid $gray-800;
  }
  td:not(td:last-child, td:first-child),
  th:not(th:last-child, th:first-child) {
    border-right: 2px solid $gray-800;
  }
  td:first-child,
  th:first-child {
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
    border-left: 2px solid $gray-800;
    border-right: 2px solid $gray-800;
  }

//  Datatables

  &.dataTable {
    border-spacing: 0 10px !important;

    th,td {
      border-bottom: 2px solid $gray-800 !important;
    }

    tbody tr {
      background-color: transparent !important;
    }
  }
}

.dataTables_wrapper {
  font-family: $secondary-font !important;

  .dataTables_length {
    * {
      display: flex !important;
      align-items: center !important;
      color: white !important;
    }
    select {
      color: $gray-900 !important;
      margin: 0 .5rem !important;
      option {
        color: $gray-900 !important;
      }
    }
  }
  .dataTables_filter {
    * {
      display: flex !important;
      align-items: center !important;
      color: white !important;
    }
    input {
      color: $gray-900 !important;
      margin: 0 !important;
      margin-left: 0.5rem !important;
    }
  }
  .paginate_button.current {
    border-radius: rem(10) !important;
    border: 2px solid $gray-800 !important;
  }
}
