@use "sass:math";
@mixin remove-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin remove-link-style {
  text-decoration: none;
  color: inherit;
}
@mixin media($mf: true, $breakpoint: "sm", $property, $defvalue, $newvalue) {
  #{$property}: $defvalue;
  @if $mf {
    @media screen and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      #{$property}: $newvalue;
    }
  } @else {
    @media screen and (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      #{$property}: $newvalue;
    }
  }
}
@mixin hide-input {
  // position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

@function rem($pxVal) {
  $base: 16;
  @return math.div($pxVal, $base) * 1rem;
}

@mixin ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

@mixin select {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0.4rem !important;
  border: 2px solid $gray-700 !important;
  border-radius: 0.4rem !important;
  background-color: $gray-300 !important;
}
@mixin input {
  border: 2px solid $gray-700 !important;
  background-color: $gray-200 !important;
  border-radius: 0.4rem !important;
  height: 2rem !important;
  padding: 0.4rem !important;
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 1rem;
}