@use "sass:math";
@mixin remove-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin remove-link-style {
  text-decoration: none;
  color: inherit;
}
@mixin media($mf: true, $breakpoint: "sm", $property, $defvalue, $newvalue) {
  #{$property}: $defvalue;
  @if $mf {
    @media screen and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      #{$property}: $newvalue;
    }
  } @else {
    @media screen and (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      #{$property}: $newvalue;
    }
  }
}
@mixin hide-input {
  // position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

@function rem($pxVal) {
  $base: 16;
  @return math.div($pxVal, $base) * 1rem;
}
