// CSS Personnalisé pour le dashboard

#recap,
#visits {
  .content {
    flex-direction: row;
    justify-content: space-between;
    section:not(:last-child) {
      border-right: 0;
      border-bottom: 2px solid $dark-light;
      margin-bottom: 1rem;
      @media screen and (min-width: map-get($breakpoints, "lg")) {
        border-right: 2px solid $dark-light;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
    .periods {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 1rem;
    }
  }
}

#orders {
  height: 100%;
  .content {
    height: 100%;
  }
}

#notifications {
  .notifications-card {
    > * {
      margin: rem(16);
    }
  }
}

#shortcuts {
  display: none;
  @media screen and (min-width: map-get($breakpoints, "lg")) {
    display: block;

    .content {
      flex-wrap: wrap;
      a {
        color: $gray-very-light;
      }
    }
    .container {
      gap: 0;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-child {
          border-right: 2px solid $dark-light;
          height: 100%;
        }
        &:last-child {
          border-top: 2px solid $dark-light;
        }
      }
    }
  }
}

#inventory {
  .sub-card {
    h2 {
      border-bottom: 2px solid $dark-light;
    }
    flex-direction: column;

    ol {
      font-family: $font2;
      font-weight: lighter;
      // align-self: flex-start;
      li {
        margin: rem(4) 0;
      }
    }
  }
}
