@use "sass:math";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2020;
  left: $small-sidebar-width;
  @media screen and (min-width: map-get($map: $breakpoints, $key: "lg")) {
    left: $big-sidebar-width;
  }
  background-color: $gray-800;
  height: $navbar-height;
  width: calc(100% - #{$small-sidebar-width});
  @media screen and (min-width: map-get($map: $breakpoints, $key: "lg")) {
    width: calc(100% - #{$big-sidebar-width});
  }

  &-title {
    margin-left: 1rem;
  }

  &-right {
    margin-right: 1rem;
    display: flex;

    & > * {
      margin: 0 0.5rem;
    }
  }
}
