.page-wrapper {
  > .navbar,
  .sidebar {
    display: none;
  }

  &.with-sidebar {
    > .content-wrapper {
      width: calc(100% - #{$small-sidebar-width});
      @include media(
        $breakpoint: "lg",
        $property: "left",
        $defvalue: $small-sidebar-width,
        $newvalue: $big-sidebar-width
      );
      @include media(
        $breakpoint: "lg",
        $property: "width",
        $defvalue: calc(100% - #{$small-sidebar-width}),
        $newvalue: calc(100% - #{$big-sidebar-width})
      );
    }
    > .sidebar {
      display: flex;
    }
  }
  &.with-navbar {
    > .content-wrapper {
      height: calc(100% - #{$navbar-height});
      top: $navbar-height;
    }
    > .navbar {
      display: flex;
    }

    &.with-sidebar {
      > .navbar {
        @include media(
          $breakpoint: "lg",
          $property: "left",
          $defvalue: $small-sidebar-width,
          $newvalue: $big-sidebar-width
        );
        @include media(
          $breakpoint: "lg",
          $property: "width",
          $defvalue: calc(100% - #{$small-sidebar-width}),
          $newvalue: calc(100% - #{$big-sidebar-width})
        );
      }
    }
  }

  > .content-wrapper {
    position: absolute;
  }
}
