.sidebar {
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0;
  background-color: $gray-900;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  @include media(
    $breakpoint: "lg",
    $property: "width",
    $defvalue: $small-sidebar-width,
    $newvalue: $big-sidebar-width
  );

  //   responsive here
  height: 100%;
  min-height: 100vh;
  z-index: 2021;

  &-brand {
    display: none;
    @media screen and (min-width: map-get($map: $breakpoints, $key: "lg")) {
      display: flex;
      align-items: center;
      height: $navbar-height;
    }
  }

  &-list {
    @include remove-list;
    .list-item {
      margin: 2rem 0;

      & > a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .item-title {
        display: none;
        @media screen and (min-width: map-get($map: $breakpoints, $key: "lg")) {
          display: inline-block;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
