$context_colors: (
  "primary": $blue,
  "success": $green,
  "secondary": $yellow,
  "danger": $red,
);

.button {
  border-radius: rem(8);
  color: $dark-light;
  outline: none;
  border: none;
  padding: rem(10);
  margin: rem(5);
  font-size: larger;
  align-self: flex-end;
  font-weight: bold;
  transition: background-color 0.5s;

  @include ripple;

  @each $key, $value in $context_colors {
    &-#{$key} {
      background-color: $value;

      &:hover {
        background-color: lighten($value, 20%);
      }
    }
  }
}
