/* 
--------------------------------------------------------------------------------
    Un component de base de notre design: la "card" avec un titre et un contenu
--------------------------------------------------------------------------------
*/

.card {
  background-color: $dm-card-bg-color;
  display: flex;
  flex-direction: column;
  border-radius: rem(20);
  margin-bottom: rem(20);

  @media screen and (min-width: map-get($breakpoints, "lg")) {
    margin: 0;
  }

  box-shadow: 0 0.125rem 1rem $dark-dark;
  > header {
    background-color: $dm-card-header-bg-color;
    box-shadow: 0 0.125rem 0.5rem $dark-dark;
    border-radius: rem(20) rem(20) 0 0;
    width: 100%;
    > * {
      margin: 1.25rem;
    }
  }
  > .content {
    padding: 1.25rem;
    display: block;
    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    border-radius: rem(20);

    .sub-card {
      margin: rem(5);
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $dm-card-header-bg-color;
      border-radius: rem(20);
      box-shadow: 0 0.125rem 1rem $dark-dark;
    }

    .cta-link {
      align-self: flex-end;
      margin-top: rem(12);
    }
  }
}
