// TODO: Mieux gérer la répétition de code: DRY, avec des include ou des apply

form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;

  .button {
    align-self: flex-end;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  border-radius: rem(10);
  margin: 0.5rem 0;
  width: 100%;
  font-family: $font2;
  label {
    font-size: 16px;
    display: table-cell;
    align-items: center;
    white-space: nowrap;
    padding: rem(8);
    border-radius: rem(10) rem(10) 0 0;
    border: 2px solid $dark-light;
    border-bottom-width: 0;
    background-color: $gray-dark;
    font-weight: bold;
  }
  input,
  select,
  textarea {
    color: $gray-very-light;
    background-color: $gray-dark;
    outline: none;
    border: none;
    border-radius: 0 0 rem(10) rem(10);
    border: 2px solid $dark-light;
    padding: rem(8);
  }

  select option {
    font-size: 14px;
    font-weight: lighter;
    font-family: $font2;
    color: $gray;
  }
}
*::placeholder {
  font-size: 14px;
  font-weight: lighter;
  font-family: $font2;
  color: $gray;
}

.invalid {
  border: 1px solid $red;
}

// classe commune à tous les types d'input sauf checkbox et radio
.input-field {
  display: block;
  width: 100%;
  margin: 0;
  color: $dm-main-text-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  background-color: $gray-dark;
  :disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

textarea.input-field {
  max-width: 100%;
  min-width: 100%;
  min-height: 3rem;
}

select.input-field:not([multiple]) {
  cursor: pointer;
}

.custom-checkbox,
.custom-radio,
.custom-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: rem(10);
  margin: 0.5rem 0;
  width: 100%;
  font-family: $font2;
  position: relative;

  label {
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    white-space: nowrap;
    margin-left: 0.5rem;
    padding: rem(8);
    border-radius: rem(10);
    border: 2px solid $dark-light;
    background-color: $gray-dark;
    font-weight: bold;
  }
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  outline: none;
  padding: rem(8);
  margin: 0;
  height: 2.4rem;
  width: 2.4rem;
  border: 2px solid $dark-light;
  border-radius: rem(10);
  background-color: $gray-very-dark;

  &:checked {
    background-color: $primary;
    background-image: $checked-background;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.custom-radio input[type="radio"] {
  appearance: none;
  outline: none;
  padding: rem(8);
  margin: 0;
  height: 2.4rem;
  width: 2.4rem;
  border: 2px solid $dark-light;
  border-radius: rem(20);
  background-color: $gray-very-dark;

  &:checked {
    background-color: $primary;
    background-image: $radio-background;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.custom-switch input[type="checkbox"] {
  appearance: none;
  outline: none;
  padding: rem(8);
  margin: 0;
  height: 2.4rem;
  width: 4.8rem;
  border: 2px solid $dark-light;
  border-radius: rem(20);
  background-color: $gray-very-dark;
  background-image: $radio-background;
  background-position: left rem(6) center;
  background-repeat: no-repeat;
  transition: background 0.25s;

  &:checked {
    background-color: $primary;
    background-position: right rem(6) center;
  }
}

*:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  ~ * {
    opacity: 0.5;
  }
}
