/* 
------------------------------------------------------------------------
    Une grille de 12 colonnes en CSS Grid qui, en mobile, bascule en Block.
------------------------------------------------------------------------
*/
.container {
  display: block;
  margin: rem(20);
  width: calc(100% - rem(20));
  @each $brk, $value in breakpoints {
    @media screen and (min-width: $value) {
      max-width: $value;
    }
  }

  @media screen and (min-width: map-get($breakpoints, "lg")) {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;

    > * {
      grid-column: col-start / span 12;
    }
  }
}

.col {
  grid-column: span 1;
}
.col-full {
  grid-column: span 12;
}

@for $col from 1 through 12 {
  .col-#{$col} {
    grid-column: span $col;
  }
}

@each $brk, $value in $breakpoints {
  @media screen and (min-width: $value) {
    @for $col from 1 through 12 {
      .col-#{$brk}-#{$col} {
        grid-column: span $col;
      }
    }
  }
}
