.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: map-get($breakpoints, "lg")) {
    left: 16rem;
    width: calc(100% - 16rem);
  }

  height: 4rem;
  background-color: $gray-very-dark;
  z-index: 2020;
  padding: 0 2rem;
  box-shadow: 0 0.125rem 0.5rem $dark-dark;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      margin: 1rem;
    }
  }

  .section-title {
    margin: 0;
    padding: 0;
  }

  .navbar-link {
    > * {
      color: $gray-very-light;
      user-select: none;
    }
  }
}

.sidebar {
  display: none;
  @media screen and (min-width: map-get($breakpoints, "lg")) {
    background-color: $gray-very-dark;
    z-index: 2021;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 16rem;
    box-shadow: 0.125rem 0 0.5rem $dark-dark;

    .website-title {
      margin-left: 1.5rem;
      margin-top: 0;
      margin-bottom: 0;
      height: 4rem;
      display: flex;
      align-items: center;
    }
    // https://codepen.io/raubaca/pen/PZzpVe
    .menu-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: transparent;
      transition: background 0.5s;
      position: relative;
      cursor: pointer;
      user-select: none;
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        opacity: 0;

        &:checked {
          & + label {
            color: $primary;
            transition: color 0.25s;

            .material-icons:last-child {
              transform: rotate(180deg);
              transition: transform 0.25s;
            }
          }
          & ~ .element-content {
            max-height: 100%;
          }
        }
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        // justify-content: space-evenly;

        span:first-child {
          margin-left: 1rem;
          margin-right: 1rem;
        }
        .element-title {
          margin-right: auto;
        }
        span:last-child {
          margin-right: 1rem;
        }

        & > a {
          all: unset;
          font-family: $font2;
          font-size: 24px;
          font-weight: normal;
          cursor: pointer;

          & + span {
            visibility: hidden;
          }
        }
      }

      .element-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        // max-width: 0;
        a {
          margin: 1rem;
          font-family: $font2;
          color: $gray-very-light;
          font-weight: lighter;
          text-transform: none;
          background-color: transparent;

          &:hover {
            background-color: darken(transparent, 5%);
          }

          :focus {
            color: $primary;
          }
        }
      }

      &:hover {
        background-color: darken($gray-very-dark, 5%);
      }

      .element-title {
        font-family: $font2;
        font-size: 24px;
        font-weight: normal;
        justify-self: self-start;
        align-self: center;
        cursor: pointer;
      }
    }
  }
}
